/*!*************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/login/page.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************/
.page_header__X7UxJ {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    /* background-color: aliceblue; */
}

.page_main__MRZB1 {
   margin-left: auto;
    margin-right: auto;
    height: calc(100vh - 280px);
    width: 54vw;
    background-color: var(--primary-light);
    border-radius: 8px;
}
.page_title__QV6iH{
    display: flex;    
}

.page_title__QV6iH > h1 {
    /* padding: 4vw;    */
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}
.page_form__FClb7 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    /* padding: 2vw; */
    gap:25px;
}
.page_buttonHolder__Ohi0r{
    width: 100%;
    /* background-color: rgba(114, 144, 144, 0.754); */
    display:flex;
    flex-direction: column;
}
@media screen and (max-width: 1024px) {
    /* .header {
        height: 280px;
    } */
    .page_main__MRZB1{
        width: 74vw;
    }
    
}
@media screen and (max-width: 768px) {
    .page_header__X7UxJ {
        height: 280px;
    }
    .page_main__MRZB1{
        width: 100vw;
        border-radius: 8px 0 0 0;
    }
   
     
}
