:root {
  --first: #d9dcd6;
  --secondy: #3a7ca5;
  --third: #2f6690;
  --fourth: #81c3d7;
  --fifth: #16425b;
}
*{
    color: var(--fifth);
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

.DefaultBox {
  display: block;
  width: 80%;
  max-width: 500px;
  height: 60px;
  background-color: white;
  border-radius: 6px;
  margin: 20px auto;
}

.Label {
  position: absolute;
  margin: 15px;
  color: var(--third);
  font-size: x-large;
  /* animation: reSizeFont 3s; */
}

.InputBox {
  position: absolute;
  color: var(--third);
  width: 65%;
  max-width: 500px;
  /* height: 60px; */
  font-size: large;
  margin-top: 30px;
  padding-left: 18px;
  background-color: transparent;
  border: none;
  outline: none;
}

@keyframes reSizeFont {
  from {
      font-size: x-large;
      margin: 15px;
}
to {
    font-size: small;
    margin: 8px;
}
}
@keyframes reSizeFontInvert {
    from {
        margin: 8px;
        font-size: small;
    }
    to {
      margin: 15px;
    font-size: x-large;
  }
}
