@import url('https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --first: #d9dcd6;
    --second: #3a7ca5;
    --third: #2f6690;
    --fourth: #81c3d7;
    --fifth: #16425b;
  --defaultFont: "Asap", sans-serif;
}

* {
  font-family: var(--defaultFont);
  margin: 0;
  padding: 0;
  
}

